@import "~font-awesome/css/font-awesome.css";

body {
  color: white;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  width: 100%;
  overflow-x: hidden;
}

#root{
  width: 100%;
}
